.container {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 38px;
}

.panel {
    flex: 1 50%;
    height: 500px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.panel-title {
    align-content: center;
    vertical-align: center;
}

@media (max-width: 940px) {
    .panel {
        flex: 1 100%;
    }
}
