/*
Color Palette

Dark Teal
rgb(2, 48, 63)

Dark Blue
rgb(29, 89, 115)

Aqua
rgb(73, 116, 139)

Dark Green
rgb(8, 41, 34)

Dark Teal
rgb(34, 76, 57)

Green
rgb(111, 133, 99)
*/

h1 {
    margin-bottom: 2%;
}

p {
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
}

.container {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 38px;
    position: relative;
    z-index: 1;
    opacity: 1;
}

.panel {
    flex: 1 50%;
    height: 500px;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    font-family: "Istok Web";
    color: white;
}

.panel-title {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2em;
    width: fit-content;
    color: white;
}

.panel-title:hover {
    text-shadow: 4px 6px 4px black;
    cursor: pointer;
}

.panel-source {
    position: relative;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -85%);
    text-align: center;
    font-size: 0.85em;
}

.panel-source a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.panel-source a:hover {
    text-decoration: underline;
} 

.project-popup {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    font-family: "Istok Web";
    overflow-y: scroll;
    color: white;
}

#back-button {
    cursor: pointer;
    font-size: 75px;
    position: absolute;
    left: 5%;
    top: 5%;
}

#back-button:hover {
    font-weight: bold;
}

#panel1-content {
    display: none;
    text-align: center;
    margin-top: 3.5%;
}
#panel2-content {
    display: none;
    text-align: center;
    margin-top: 3.5%;
}
#panel3-content {
    display: none;
    text-align: center;
    margin-top: 3.5%;
}
#panel4-content {
    display: none;
    text-align: center;
    margin-top: 3.5%;
}
#panel5-content {
    display: none;
    text-align: center;
    margin-top: 3.5%;
}
#panel6-content {
    display: none;
    text-align: center;
    margin-top: 3.5%;
}
#panel7-content {
    display: none;
    text-align: center;
    margin-top: 3.5%;
}

@media (max-width: 940px) {
    .panel {
        flex: 1 100%;
    }
    .project-popup{
        overflow-y: scroll;
    }
}
