{% extends "base.html" %}
{% load static %}
{% block content %}
<nav>
    <nav-li class="landing-page">
        <a href="/"><img src="{% static 'img/logo.png' %}" width="35" height="35"></a>
    </nav-li>
    <nav-li>
        <a href="{% static 'documents/Alec_Brazeau_Resume_OLD.pdf' %}" target="_blank">Resume</a>
    </nav-li>

    <nav-li>
        <a class="active" href="/aboutme">About Me</a>
    </nav-li>
    <nav-li>
        <a href="/projects">Projects</a>
    </nav-li>
    <nav-li>
        <a href="/home">Home</a>
    </nav-li>
</nav>
<div style="margin-top:45px;">
    <h1 align="center">
        About Me
    </h1>

</div>
{% endblock %}