{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/aboutme.css' %}">
{% endblock %}
{% block content %}
<nav>
    <nav-li class="landing-page">
        <a href="/"><img src="{% static 'img/logo.png' %}" width="35" height="35"></a>
    </nav-li>
    <nav-li class="landing-page">
        <a href="/"><span>Alec Brazeau</span></a>
    </nav-li>
    <nav-li>
        <a href="{% static 'documents/Alec_Brazeau_Resume.pdf' %}" target="_blank">Resume</a>
    </nav-li>

    <nav-li>
        <a class="active" href="/aboutme">About Me</a>
    </nav-li>
    <nav-li>
        <a href="/projects">Projects</a>
    </nav-li>
    <nav-li>
        <a href="/rivers">Rivers</a>
    </nav-li>
</nav>
<div class="container">
    <div class="title">About Me</div>
    <div class="intro">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec aliquet arcu. Mauris dictum cursus 
        venenatis. Donec eget metus ut odio porttitor porttitor. Ut diam metus, pellentesque nec rutrum non, 
        tempor sit amet diam. Curabitur blandit sodales accumsan. Curabitur risus sapien, imperdiet dictum
        tempus id, condimentum et ligula. Aliquam non lacinia urna. Phasellus a facilisis enim. Suspendisse 
        laoreet risus at dignissim venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
        Quisque condimentum lacus id massa porta bibendum. 
    </div>

    <ul id="tabs">
        <li><a id="tab-1">At Work</a></li>
        <li><a id="tab-2">At Home</a></li>
        <li><a id="tab-3">On Walks</a></li>
    </ul>
    <div class="tab-container" id="tab-1-content">
        <p>
            Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate,
            pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
            Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia
            nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
            pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem
            enim, pretium nec, feugiat nec, luctus a, lacus.
        </p>
        <p>
            Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna.
            Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent
            blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra
            blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam
            scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec
            nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula
            velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce
            in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
        </p>
        <p>
            Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate,
            pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
            Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia
            nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
            pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem
            enim, pretium nec, feugiat nec, luctus a, lacus.
        </p>
        <p>
            Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna.
            Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent
            blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra
            blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam
            scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec
            nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula
            velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce
            in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
        </p>
        <p>
            Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate,
            pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
            Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia
            nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
            pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem
            enim, pretium nec, feugiat nec, luctus a, lacus.
        </p>
        <p>
            Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna.
            Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent
            blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra
            blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam
            scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec
            nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula
            velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce
            in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
        </p>
    </div>
    <div class="tab-container" id="tab-2-content">
        <p>
            Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate,
            pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
            Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia
            nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
            pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem
            enim, pretium nec, feugiat nec, luctus a, lacus.
        </p>
        <p>
            Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna.
            Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent
            blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra
            blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam
            scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec
            nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula
            velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce
            in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
        </p>
        <p>
            Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate,
            pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
            Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia
            nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
            pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem
            enim, pretium nec, feugiat nec, luctus a, lacus.
        </p>
        <p>
            Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna.
            Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent
            blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra
            blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam
            scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec
            nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula
            velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce
            in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
        </p>
        <p>
            Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate,
            pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
            Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia
            nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
            pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem
            enim, pretium nec, feugiat nec, luctus a, lacus.
        </p>
        <p>
            Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna.
            Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent
            blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra
            blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam
            scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec
            nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula
            velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce
            in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
        </p>
    </div>
    <div class="tab-container" id="tab-3-content">
        <p>
            Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, 
            pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. 
            Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia 
            nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo 
            pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem 
            enim, pretium nec, feugiat nec, luctus a, lacus.
        </p>
        <p>
            Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. 
            Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent 
            blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra 
            blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam 
            scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec 
            nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula 
            velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce 
            in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
        </p>
        <p>
            Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, 
            pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. 
            Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia 
            nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo 
            pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem 
            enim, pretium nec, feugiat nec, luctus a, lacus.
        </p>
        <p>
            Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. 
            Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent 
            blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra 
            blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam 
            scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec 
            nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula 
            velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce 
            in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
        </p>
        <p>
            Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, 
            pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. 
            Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia 
            nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo 
            pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem 
            enim, pretium nec, feugiat nec, luctus a, lacus.
        </p>
        <p>
            Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. 
            Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent 
            blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra 
            blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam 
            scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec 
            nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula 
            velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce 
            in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
        </p>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/aboutme.js' %}"></script>
<script>
$(document).ready(function() {
    $('#tabs li a:not(:first)').addClass('inactive');
    $('.tab-container').hide();
    $('.tab-container:first').show();

    $('#tabs li a').click(function() {
        var t = $(this).attr('id');
        if ($(this).hasClass('inactive')) { //this is the start of our condition 
            $('#tabs li a').addClass('inactive');
            $(this).removeClass('inactive');

            $('.tab-container').hide();
            $('#' + t + '-content').fadeIn('slow');
        }
    });
});
</script>
{% endblock %}