{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Alec Brazeau</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <style>
        * { margin: 0; padding: 0; }
        html { 
            background: radial-gradient(rgb(255, 255, 255), rgb(212, 212, 212)) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
    {% block content %}
    <!-- content goes here -->
    {% endblock content %}
    <div class="row footer">
        <div class="footer-social-icons">
            <a class="social-icon" target="_blank" href="mailto:abrazeau1993@gmail.com"><i id="icon" class="fa fa-envelope"></i></a>
            <a class="social-icon" target="_blank" href="https://github.com/albrazeau"><i id="icon" class="fa fa-github"></i></a>
            <a class="social-icon" target="_blank" href="//open.spotify.com/user/1245916696"><i id="icon" class="fa fa-spotify"></i></a>
            <a class="social-icon" target="_blank" href="https://www.linkedin.com/in/alecbrazeau/"><i id="icon" class="fa fa-linkedin"></i></a>
            <a class="social-icon" target="_blank" href="https://medium.com/@abrazeau"><i id="icon" class="fa fa-medium"></i></a>
            <a class="social-icon" target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i id="icon" class="fa fa-youtube"></i></a>
        </div>
    </div>
</body>
</html>