{% extends "base.html" %}
{% load static %}
{% block content %}
<nav>
    <nav-li>
        <a href="/">Alec Brazeau</a>
    </nav-li>
    <nav-li>
        <a href="/home">Home</a>
    </nav-li>
    <nav-li>
        <a href="/aboutme">About Me</a>
    </nav-li>
    <nav-li>
        <a class="active" href="/resume">Resume</a>
    </nav-li>
</nav>
<div style="margin-top:45px;">
    <img style="width:100%;" id="image" src="{% static 'img/Great_Wave_banner.jpg' %}">
    <h1 align="center">
        Resume
    </h1>

</div>
{% endblock %}